@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.jLuN9 {
  order: 0;
  padding: 0;
  height: 54px;
  
    .MwDvN {
      height: 54px;
      padding: 0 20px;
      padding: 0 20px;
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;
    
        .oJZym {
          margin-top: 7px;
          margin-right: 250px;
        }
        
        .LWmhU {
        }
        
        .ctQZg {
        }
      
    }
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.header-logo {
  height: 20px;
  width: 20px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* home.html */

._4_yKc {
  margin: 30px 8px;
  padding-bottom: 44px;
  display: flex;
}

.home-iphone {
  background-image: url(https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png);
  flex-basis: 454px;
  height: 618px;
  margin-left: 35px;
  margin-right: 15px;
}

/* _form */

.rgFsT {
  color: rgba(var(--i1d,38,38,38),1);
  justify-content: center;
  margin-top: 12px;
  max-width: 350px;
  width: 100%;
  float: left;
}

.gr27e {
  background-color: rgba(var(--d87,255,255,255),1);
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  border-radius: 1px;
  padding: 10px 0;
  margin-bottom: 10px;
}

.coreSpriteMobileNavDirect {
    background-repeat: no-repeat;
    background-position: -98px 0;
    height: 51px;
    width: 175px;
}



.-MzZI {
    margin: 0 40px 6px;
      ._9GP1n {
        align-items: center;
        background: rgba(var(--b3f,250,250,250),1);
        border: 1px solid rgba(var(--ca6,219,219,219),1);
        border-radius: 3px;
        box-sizing: border-box;
        color: rgba(var(--i1d,38,38,38),1);
        display: flex;
        flex-direction: row;
        font-size: 14px;
        position: relative;
        width: 100%;
          ._9GP1n {
            align-items: center;
            background: rgba(var(--b3f,250,250,250),1);
            border: 1px solid rgba(var(--ca6,219,219,219),1);
            border-radius: 3px;
            box-sizing: border-box;
            color: rgba(var(--i1d,38,38,38),1);
            display: flex;
            flex-direction: row;
            font-size: 14px;
            position: relative;
            width: 100%;
              .f0n8F {
                position: relative;
              }
          }
    }
}

.f0n8F {
    display: flex;
    height: 36px;
    flex: 1 0 0;
    padding: 0;
    position: relative;
    margin: 0;
    min-width: 0;
    
      ._9nyy2 {
    color: #8e8e8e;
    font-size: 12px;
    height: 36px;
    left: 8px;
    line-height: 36px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    transform-origin: left;
    transition: transform ease-out .1s;
    user-select: none;
    white-space: nowrap;
    
      &:focus {
        background-color: red;
      }
    
    
  }
}

    ._2hvTZ {
    background: rgba(var(--b3f,250,250,250),1);
    border: 0;
    flex: 1 0 auto;
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
    height: 36px;
}

.Igw0E {
  margin: 8px 40px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  
    .sqdOP {
      background-color: rgba(var(--d69,0,149,246),.3);
      opacity: 1;
      border: 1px solid;
      border-radius: 4px;
      color: rgba(var(--eca,255,255,255),1);
      position: relative;
      width: 100%;
    }
}

.K-1uj {
  margin: 10px 40px 18px;
  flex-direction: row;
  display: flex;
  
    .s311c {
      flex-grow: 1;
      flex-shrink: 1;
      background-color: rgba(var(--b38,219,219,219),1);
      height: 1px;
      position: relative;
      top: .45em;
    }
      
    ._0tv-g {
        color: rgba(var(--f52,142,142,142),1);
        flex-grow: 0;
        flex-shrink: 0;
        font-size: 13px;
        font-weight: 600;
        line-height: 15px;
        margin: 0 18px;
        text-transform: uppercase;
      }
}

.IwRSC {
  margin: 8px 40px;
  flex: auto;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
  
    .yWX7d {
      display: inline;
      padding: 0;
      position: relative;
      text-align: center;
      text-overflow: ellipsis;
      user-select: none;
      width: auto;
      
        .KPnG0 {
          color: #385185;
        }
    }
}

._2Lks6 {
  font-size: 12px;
  font-size: 12px;
  line-height: 14px;
  margin-top: 12px;
  text-align: center;
  color: #00376b;
  display: block;
}

.izU2O {
  font-size: 14px;
  margin: 15px;
  text-align: center;
}

.b_nGN {
  font-size: 14px;
  line-height: 18px;
  margin: 10px 20px;
  text-align: center;
}

.b_nGN {
  font-size: 14px;
  line-height: 18px;
  margin: 10px 20px 10px 20px;
  text-align: center;
}

.iNy2T {
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px;
  display: flex;
  

  
    .Rt8TI {
      margin-right: 8px;
      height: 40px;
      width: 136px;
      
    }
}

/* show.html*/

.vtbgv {
  margin-bottom: 44px;
  flex-direction: row;

    .user_info {
      margin-right: 30px;
      padding-left: 10%;
      float: left;
        
    }
}

.stats_show {
  flex-basis: 30px;
  flex-direction: column;
  height: 200px;
}
  
.nZSzR {
  margin-bottom: 20px;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  display: flex;

  ._7UhW9 {
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;
  }
  
    .L3NKy {
      margin-left: 20px;
      flex-shrink: 0;
    }
  }
  


.k9GMp {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  }
      
.-vDIg {
  font-size: 16px;
  line-height: 24px;
  word-wrap: break-word;
      }
      
._2z6nI {
  align-items: stretch;
  box-sizing: border-box;
  
    .microposts {
      flex-direction: row;
    }
}

/* micropost */

.content {
  margin-right: 28px;
  height: 350px;

      .KL4Bh {
        height: 293px;
        width: 293px;
      }
}
      
      
      

/* stats*/


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 30px 0;
    float:left;
    width: 33.3%;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}