<footer class="footer">
  <% if logged_in? %>
  <% else %>
    <nav>
      <ul>
        <li><a href="https://about.instagram.com/about-us">基本データ</a></li>
        <li><a href="https://help.instagram.com/">ヘルプ</a></li>
        <li><a href="https://about.instagram.com/blog/">プレス</a></li>
        <li><a href="https://www.instagram.com/developer/">API</a></li>
        <li><a href="https://www.instagram.com/about/jobs/">求人</a></li>
        <li><a href="https://help.instagram.com/519522125107875">プライバシー</a></li>
        <li><a href="https://help.instagram.com/581066165581870">利用規約</a></li>
        <li><a href="https://www.instagram.com/explore/locations/">所在地</a></li>
        <li><a href="https://www.instagram.com/directory/profiles/">人気アカウント</a></li>
        <li><a href="https://www.instagram.com/directory/hashtags/">ハッシュタグ</a></li>
      </ul>
    </nav>
    <span class="DINPA">©︎2020 INSTAGRAM FROM FACEBOOK</span>
  <% end %>
</footer>